@charset "UTF-8";
@use "../global" as *;

/*============================
m-card
============================*/
.m-card {
  $parent: &;
  width: 250px;
  &__link {
    display: block;
    @include hvopa;
  }
  &__img {
    z-index: 1;
    overflow: hidden;
    border: 1px solid $border-base-color;
    @include thumbnail_aspect(250, 180, cover);
    img {
      transition: 0.3s;
    }
    &:hover {
      img {
        transition: 0.3s;
        transform: scale(1.1);
      }
    }
  }
  &__data {
    text-align: left;
    font-size: 12px;
    color: $white-color;
    @include letter-spacing-calc(120);
    margin-top: 10px;
  }
  &__tit {
    transition: 0.3s;
    text-align: left;
    font-size: 18px;
    color: $white-color;
    @include mq(sp) {
      font-size: 18px;
    }
  }
}
