@charset "UTF-8";
@use "sass:map";
@use "sass:math";
@use "variable" as *;
@use "function" as *;
@use "mixin" as *;

/*============================
animation
============================*/
@keyframes moveleft {
  40% {
    width: 100%;
  }
  100% {
    width: 100%;
    transform: translate3d(111%,0,0);
  }
}
@keyframes moveBg {
  100% {
    transform: translateX(0);
  }
}
@keyframes moveright {
  40% {
    width: 100%;
  }
  100% {
    width: 100%;
    transform: translate3d(-111%,0,0);
  }
}
@keyframes moveLayer {
  40% {
    width: 100%;
  }
  100% {
    width: 100%;
    transform: translateX(111%);
  }
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}
@keyframes fadeinblock {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
