@charset "UTF-8";
@use "../global" as *;

/*===========================
reset style
===========================*/

/* autoprefixer grid: autoplace */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  min-height: 100%;
}

body {
  text-align: center;
  letter-spacing: 0.08em;
  color: $text-base-color;
  background: $white-color;
  font-size: 16px;
  @include fontStyle();
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "palt";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-base-color;
  font-weight: normal;
}

p {
  color: $text-base-color;
  font-size: 16px;
  line-height: 150%;
}

ul,
ol,
li {
  list-style: none;
  color: $text-base-color;
}

a {
  @include ankerStyle();
}

address {
  color: $text-base-color;
  font-style: normal;
}

img {
  vertical-align: bottom;
  border: none;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
  color: $text-base-color;
}

main {
  display: block;
}

picture {
  display: block;
}

table,
th,
td {
  color: $text-base-color;
}

header {
  display: block;
}

footer {
  display: block;
}

aside {
  display: block;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

data {
  display: block;
}

time {
  display: block;
}

a[href^="tel:"] {
  cursor: default;
  pointer-events: none;
  @include mq(sp) {
    cursor: pointer;
    pointer-events: auto;
  }
}
